@import url('reset.css');

html {
  height: 100%;
}

body {
  background: url('../img/bg.png');
  color: #cccccc;
  line-height: 1.5;
  font-size: 1.5em;
  width: 22em;
  padding: 1em;
  text-align: center;
  margin: 0 auto 0 auto;
}

a {
  text-decoration: none;
  color: #FA06D4;
}

a:hover {
  border-bottom: 1px dotted #FA06D4;
}

a:visited {
  color: #FA06D4;
}

h1 { 
  font-size: 2.7em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

p {
  margin-bottom: 1em;
}

ul {
  margin: 1.5em 0 1.5em 0;
}

ul li {
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}
